html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans Condensed', 'sans-serif', 'Roboto' !important;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans Condensed, Droid Sans, Helvetica Neue, sans-serif; */
}

h1,h2,h3,p { 
  font-family: 'Fira Sans Condensed', 'sans-serif', 'Roboto' !important;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.brand-text {
  font-weight: bold;
  font-size: 5rem;
}

.small-text {
  font-size: min(max(10px, 1.25vw), 15px) !important;
  color: #404040;
}
.large-text {
  font-size: min(max(15px, 1.3vw), 25px) !important;
  /* color: #404040; */
}

.bold-text {
  font-weight: bold !important;
}

.align-items-to-right {
  /* position: relative; */
  /* right: 0; */
  /* flex: auto; */
  justify-content: flex-end !important;
  /* max-height: 10px; */
  /* position: inherit; */
  /* right: 0 !important;
  align-items: flex-end !important;
  align-content: flex-end !important; */
  /* text-align: end !important; */
  /* float: right !important; */
}

.light-background {
  background-color: #f4f4f4 !important;
}
.dark-background {
  background-color: #404040 !important;
}

.on-top {
  /* position: relative !important; */
  /* display: flex !important; */
  z-index: 100 !important;
}


/* ------------------------ Navbar -------------------- */

.navbar-mainDiv {
  /* position: relative; */
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 20% 60%;
  grid-template-areas: 'navbar-logo-area navbar-spacing-area navbar-navigation-area';
  height: 10vh;
  min-height: 100px;
  max-height: 200px;
  background-color: white !important;
  /* background-color: yellow; */
}
.navbar-mainDiv-mobile {
  /* position: relative; */
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 90% 0% 10%;
  grid-template-areas: 'navbar-logo-area-mobile navbar-spacing-area-mobile navbar-navigation-area-mobile';
  height: 10vh;
  min-height: 100px;
  max-height: 200px;
  background-color: white !important;
}
.navbar-mainDiv-ar {
  /* position: relative; */
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 65% 15% 20%;
  grid-template-areas: 'navbar-navigation-area-ar navbar-spacing-area-ar navbar-logo-area-ar';
  height: 10vh;
  min-height: 100px;
  max-height: 200px;
  background-color: white !important;
}
.navbar-mainDiv-mobile-ar {
  /* position: relative; */
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% 0% 90%;
  grid-template-areas: 'navbar-navigation-area-mobile-ar navbar-spacing-area-mobile-ar navbar-logo-area-mobile-ar';
  height: 10vh;
  min-height: 100px;
  max-height: 200px;
  background-color: white !important;
}

.navbar-logo-area {
  display: grid;
  grid-area: navbar-logo-area;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas: 'navbar-logo-main-text-area' 'navbar-logo-secondary-text-area';
  height: 100%;
  /* background-color: red; */
  /* text-align: center; */
  /* margin-bottom: 25px; */
  /* align-content: flex-end; */
  /* bottom: 0; */
}
.navbar-logo-area-mobile {
  display: grid;
  grid-area: navbar-logo-area-mobile;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas: 'navbar-logo-main-text-area-mobile' 'navbar-logo-secondary-text-area-mobile';
  height: 100%;
  /* background-color: red; */
  /* text-align: center; */
  /* margin-bottom: 25px; */
  /* align-content: flex-end; */
  /* bottom: 0; */
}
.navbar-logo-area-ar {
  display: grid;
  grid-area: navbar-logo-area-ar;
  grid-template-columns: 100%;
  grid-template-rows:25% 50% 25%;
  grid-template-areas: 'navbar-logo-upper-text-area-ar' 'navbar-logo-main-text-area-ar' 'navbar-logo-secondary-text-area-ar';
  height: 100%;
  /* background-color: red; */
  /* text-align: center; */
  /* margin-bottom: 25px; */
  /* align-content: flex-end; */
  /* bottom: 0; */
}
.navbar-logo-area-mobile-ar {
  display: grid;
  grid-area: navbar-logo-area-mobile-ar;
  grid-template-columns: 100%;
  grid-template-rows:25% 50% 25%;
  grid-template-areas: 'navbar-logo-upper-text-area-mobile-ar' 'navbar-logo-main-text-area-mobile-ar' 'navbar-logo-secondary-text-area-mobile-ar';
  height: 100%;
  /* background-color: red; */
  /* text-align: center; */
  /* margin-bottom: 25px; */
  /* align-content: flex-end; */
  /* bottom: 0; */
}

.navbar-logo-upper-text-area-ar {
  grid-area: navbar-logo-upper-text-area-ar;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo-upper-text-area-mobile-ar {
  grid-area: navbar-logo-upper-text-area-ar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo-main-text-area {
  grid-area: navbar-logo-main-text-area;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: red; */
  
}
.navbar-logo-main-text-area-mobile {
  grid-area: navbar-logo-main-text-area-mobile;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: yellow; */
  
}
.navbar-logo-main-text-area-ar {
  grid-area: navbar-logo-main-text-area-ar;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: red; */
  
}
.navbar-logo-main-text-area-mobile-ar {
  grid-area: navbar-logo-main-text-area-mobile-ar;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: red; */
  
}

.navbar-logo-secondary-text-area {
  grid-area: navbar-logo-secondary-text-area;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #404040; */
}
.navbar-logo-secondary-text-area-mobile {
  grid-area: navbar-logo-secondary-text-area-mobile;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #404040; */
}
.navbar-logo-secondary-text-area-ar {
  grid-area: navbar-logo-secondary-text-area-ar;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #404040; */
}
.navbar-logo-secondary-text-area-mobile-ar {
  grid-area: navbar-logo-secondary-text-area-mobile-ar;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #404040; */
}

.navbar-spacing-area {
  grid-area: navbar-spacing-area;
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-end; */
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas: 'navbar-logo-main-text-area' 'navbar-logo-secondary-text-area';
  height: 100%;
  /* background-color: purple; */
}
.navbar-spacing-area-mobile {
  grid-area: navbar-spacing-area-mobile;
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-end; */
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas: 'navbar-logo-main-text-area-mobile' 'navbar-logo-secondary-text-area-mobile';
  height: 100%;
  /* background-color: purple; */
}
.navbar-spacing-area-ar {
  grid-area: navbar-spacing-area-ar;
  /* background-color: purple; */
}


.navbar-navigation-area {
  grid-area: navbar-navigation-area;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 25vw;
  margin-bottom: 2vh;
  max-width: 900px;
}
.navbar-navigation-area-mobile {
  grid-area: navbar-navigation-area-mobile;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 10vw;
  margin-bottom: 2vh;
  max-width: 900px;
}
.navbar-navigation-area-ar {
  grid-area: navbar-navigation-area-ar;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 15vw;
  margin-bottom: 2vh;
  max-width: 900px;
}
.navbar-navigation-area-mobile-ar {
  grid-area: navbar-navigation-area-mobile-ar;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 10vw;
  margin-bottom: 2vh;
  max-width: 900px;
}

.navbar-navigation-item {
  margin-left: 2vw !important;
}

.navbar-pop-up-menu-item-en {
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;

  /* background-color: red !important; */
}

.navbar-pop-up-menu-item-ar {
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-start !important;

  /* background-color: red !important; */
}

/* ------------------------ Drawer -------------------- */

.navigationDrawer-paper {
  background-color: #f4f4f4 !important;
}

/* ------------------------ Footer -------------------- */

.footer-main-div {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  grid-template-areas: 'footerCol1 footerCol2 footerCol3 footerCol4';
  background-color: #404040;
  min-height: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
}
.footer-main-div-mobile {
  display: flexbox;
  /* grid-template-columns: 100%; */
  /* grid-template-rows: 100%; */
  /* grid-template-areas: 'footerCol1 footerCol2 footerCol3 footerCol4'; */
  background-color: #404040;
  min-height: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 7vw;
  padding-right: 7vw;
}
.footer-main-div-ar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  grid-template-areas: 'footerCol4 footerCol3 footerCol2 footerCol1';
  background-color: #404040;
  min-height: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 7vw;
  padding-right: 7vw;
}
.footer-main-div-ar-mobile {
  display: flexbox;
  /* grid-template-columns: 100%; */
  /* grid-template-rows: 100%; */
  /* grid-template-areas: 'footerCol1 footerCol2 footerCol3 footerCol4'; */
  background-color: #404040;
  min-height: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 12vw;
  padding-right: 12vw;
}

.footer-col1 {
  grid-area: footerCol1;
  /* background-color: red; */
  height: 100%;
  text-align: left;
  margin-right: 2vw;
}
.footer-col1-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
  /* padding-left: 30vw;
  padding-right: 30vw; */
  /* max-width: 50vw; */
  /* margin-right: 2vw; */
}
.footer-col1-ar {
  grid-area: footerCol1;
  /* background-color: red; */
  height: 100%;
  text-align: right;
  margin-right: 2vw;
}
.footer-col1-ar-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
  /* margin-right: 2vw; */
}

.footer-col2 {
  grid-area: footerCol2;
  /* background-color: blue; */
  height: 100%;
  text-align: left;
  margin-right: 2vw;
}
.footer-col2-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
}
.footer-col2-ar {
  grid-area: footerCol2;
  /* background-color: blue; */
  height: 100%;
  text-align: right;
  margin-right: 2vw;
}
.footer-col2-ar-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.footer-col3 {
  grid-area: footerCol3;
  /* background-color: brown; */
  height: 100%;
  text-align: left;
  margin-right: 2vw;
}
.footer-col3-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
}
.footer-col3-ar {
  grid-area: footerCol3;
  /* background-color: brown; */
  height: 100%;
  text-align: right;
  margin-right: 2vw;
}
.footer-col3-ar-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.footer-col4 {
  grid-area: footerCol4;
  /* background-color: yellow; */
  height: 100%;
  text-align: left;
}
.footer-col4-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
}
.footer-col4-ar {
  grid-area: footerCol4;
  /* background-color: yellow; */
  height: 100%;
  text-align: right;
}
.footer-col4-ar-mobile {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.footer-column-title-text {
  color: #FFD700;
  font-size: min(max(15px, 1.3vw), 20px) !important;
  font-weight: 800 !important;
  text-align: left;
  margin-bottom: 20px !important;
}
.footer-column-title-text-mobile {
  /* display: flex; */
  color: #FFD700;
  font-size: min(max(15px, 1.3vw), 20px) !important;
  font-weight: 800 !important;
  text-align: center;
  margin-bottom: 20px !important;
}
.footer-column-title-text-ar {
  color: #FFD700;
  font-size: min(max(15px, 1.3vw), 20px) !important;
  font-weight: 800 !important;
  text-align: right;
  margin-bottom: 20px !important;
}
.footer-column-title-text-ar-mobile {
  /* display: flex; */
  color: #FFD700;
  font-size: min(max(15px, 1.3vw), 20px) !important;
  font-weight: 800 !important;
  text-align: center;
  margin-bottom: 20px !important;
}

.footer-column-body-text{
  color: #f4f4f4;
  font-size: min(max(10px, 1.3vw), 15px) !important;
  /* font-weight: 800 !important; */
  text-align: left;
  margin-bottom: 5px !important;
}
.footer-column-body-text-mobile{
  color: #f4f4f4;
  font-size: min(max(12px, 1.3vw), 15px) !important;
  /* font-weight: 800 !important; */
  text-align: center;
  margin-bottom: 5px !important;
}
.footer-column-body-text-ar{
  color: #f4f4f4;
  font-size: min(max(10px, 1.3vw), 15px) !important;
  /* font-weight: 800 !important; */
  text-align: right;
  margin-bottom: 5px !important;
}
.footer-column-body-text-ar-mobile{
  color: #f4f4f4;
  font-size: min(max(12px, 1.3vw), 15px) !important;
  /* font-weight: 800 !important; */
  text-align: center;
  margin-bottom: 5px !important;
}

.footer-copyright-main-div {
  display: flex;
  height: 75px;
  background-color: #282a2b;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.footer-copyright-text {
  color: #f4f4f4;
  font-size: min(max(13px, 1.5vw), 12px) !important;
  /* margin-right: 5vw; */
  /* margin-left: 5vw; */
  /* padding-left: 15vw;
  padding-right: 15vw; */
  margin-top: 5vh;
  margin-bottom: 5vh;
}


/* ------------------------ Article1 -------------------- */

.article1-main-box {
  display: flex !important;
  flex: 1;
  justify-content: center !important;
  width: 100% !important;
  height: fit-content !important;
  /* background-color: aqua; */
}

.article1-main-paper {
  /* display: flex !important;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important; */
  /* margin: 2rem !important; */
  width: 70%;
  max-width: 70vw;
  height: fit-content !important;
  /* background-color: red !important; */
  /* margin-bottom: min(max(25px, 7vh), 100px); */
  margin-top: min(max(25px, 10vh), 150px);
}

.article1-main-div {
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 1fr 9fr; */
  grid-template-areas: 'titleArea' 'bodyAdrea';
  /* padding-left: 5vw; */
  /* margin-right: 5vw; */
  /* background-color: #FFD700; */
  /* background-color: blue; */
}

.article1-article-title-div {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  grid-area: titleArea;
  /* background-color: #f4f4f4; */
  background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  /* background: linear-gradient(180deg, rgba(0,3,14,1) 0%, rgba(181,190,247,1) 5%, rgba(150,163,254,1) 9%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 90%, rgba(255,255,255,1) 100%); */
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
  /* margin-top: 2vh; */
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.article1-article-title-text-inner {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* background-color: red; */
  text-align: center !important;
  font-size: min(max(20px, 2vw), 35px) !important;
  font-weight: 800 !important;
  color: #404040;
  /* text-emphasis: calc(); */
  /* text-emphasis: ; */
  /* text-decoration: wavy; */
}

.article1-article-title-text-outer {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* background-color: red; */
  text-align: center !important;
  font-size: min(max(35px, 2vw), 20px) !important;
  font-weight: 800 !important;
  color: black;
  /* text-decoration: wavy; */
}

.article1-article-body-div {
  margin-top: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  grid-area: bodyAdrea;
}

.article1-article-paragraph-heading{
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* background-color: red; */
  /* text-align: center !important; */
  font-size: min(max(25px, 1.5vw), 18px) !important;
  font-weight: 500 !important;
  color: blue;
}
.article1-article-paragraph-heading-ar{
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* background-color: red; */
  /* text-align: center !important; */
  font-size: min(max(25px, 1.5vw), 18px) !important;
  font-weight: 500 !important;
  color: blue;
  text-align: right !important;
}

.article1-article-body-text {
  font-weight: 300 !important;
  font-family: 'ariel' !important;
  font-size: min(max(20px, 1.2vw), 15px) !important;
}
.article1-article-body-text-ar {
  font-weight: 300 !important;
  font-family: 'ariel' !important;
  font-size: min(max(20px, 1.2vw), 15px) !important;
  text-align: right !important;
}

.article1-article-body-divider {
  margin-top: 2vh !important;
  margin-bottom: 2vh !important;
  margin-left: 10vw !important;
  margin-right: 10vw !important;
  /* font-size: 1rem !important; */
  /* border-width: 20px !important; */
  height: 1px !important;
  /* color: #FFD700 !important; */
  /* border-color: #FFD700 !important; */
  /* background-color: #FFD700 !important; */
  /* border-bottom-width: 20px !important; */
}

/* ------------------------ Article2 -------------------- */

.article2-main-box {
/* background-color: antiquewhite !important; */
  display: flex !important;
  flex: 1;
  justify-content: center !important;
  /* width: 100vw !important; */
  height: fit-content !important;
  /* padding-left: ; */
}

.article2-main-paper {
  /* background-color: #E7D2CC !important; */
  overflow-x: hidden;
  width: 100vw !important;
  max-width: 100vw !important;
  height: fit-content !important;
  padding-top: min(max(150px, 10vh), 25px);
  padding-left: 5vw;
  /* padding-right: 2vw; */
  border-radius: 0 !important;
}

.article2-main-div {
  display: grid;
  padding-top: 1vh;
  padding-bottom: 1vh;
  /* min-width: 98vw; */
  /* width: 100% !important; */
  grid-template-columns: 100%;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 'titleArea' 'bodyAdrea';
}
.article2-main-div-mobile {
  display: grid;
  padding-top: 1vh;
  padding-bottom: 1vh;
  /* min-width: 98vw; */
  /* width: 100% !important; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 'titleArea' 'bodyAdrea';
}

.article2-article-title-div {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  grid-area: titleArea;
  /* margin-bottom: 20vh; */
  /* background-color: #f4f4f4; */
  /* background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%); */
  /* background: linear-gradient(180deg, rgba(0,3,14,1) 0%, rgba(181,190,247,1) 5%, rgba(150,163,254,1) 9%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 90%, rgba(255,255,255,1) 100%); */
  align-items: center;
  padding-right: 5vw;
  /* padding-left: 5vw; */
}
.article2-article-title-div-mobile {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  grid-area: titleArea;
  /* padding-bottom: 1vh; */
  /* background-color: #f4f4f4; */
  /* background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%); */
  /* background: linear-gradient(180deg, rgba(0,3,14,1) 0%, rgba(181,190,247,1) 5%, rgba(150,163,254,1) 9%, rgba(244,244,244,1) 58%, rgba(254,254,254,1) 90%, rgba(255,255,255,1) 100%); */
  align-items: center;
  /* padding-right: 5vw; */
  /* padding-left: 5vw; */
}
.article2-article-title-div-ar {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  grid-area: titleArea;
  align-items: center;
  padding-right: 5vw;
}
.article2-article-title-div-mobile-ar {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  grid-area: titleArea;
  align-items: center;
}

.article2-article-title-text {
  position: absolute;
  /* text-align: center !important; */
  font-size: min(max(20px, 2vw), 35px) !important;
  font-weight: 800 !important;
  /* color: #404040; */
}
.article2-article-title-text-mobile {
  position: absolute;
  /* text-align: center !important; */
  font-size: min(max(20px, 2vw), 35px) !important;
  font-weight: 800 !important;
  /* color: #404040; */
  /* text-align: center; */
}
.article2-article-title-text-ar {
  position: absolute;
  text-align: right !important;
  /* text-align: center !important; */
  font-size: min(max(20px, 2vw), 35px) !important;
  font-weight: 800 !important;
  /* color: #404040; */
  /* background-color: yellow; */
}
.article2-article-title-text-mobile-ar {
  position: absolute;
  /* text-align: center !important; */
  font-size: min(max(20px, 2vw), 35px) !important;
  font-weight: 800 !important;
  /* color: #404040; */
  /* text-align: center; */
}

.article2-article-body-div-with-image {
  /* background-color: #FFD700; */
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  grid-template-areas: 'imageArea bodyAreaWithImage';
}
.article2-article-body-div-with-image-mobile {
  /* background-color: #FFD700; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 2fr;
  grid-template-areas: 'imageAreaMobile' 'bodyAreaWithImageMobile';
}
.article2-article-body-div-without-image {
  display: flex;
  flex: 1;
  /* padding-left: 5vw; */
  /* padding-right: 5vw; */
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 100% !important;
  /* background-color: violet; */
}
.article2-article-body-div-without-image-mobile {
  /* display: flex;
  flex: 1;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vh; */
  /* width: 100% !important; */
  /* background-color: violet; */
  display: flex;
  flex: 1;
  /* padding-left: 5vw; */
  /* padding-right: 5vw; */
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 100% !important;
}

.article2-article-image-div {
  grid-area: imageArea;
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: 'upperSpacingArea' 'middleArea' 'lowerSpacingArea'; */

  /* display: block; */
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  /* padding-top: auto; */
  /* padding-bottom: auto; */
  
  /* background-color: red; */
}
.article2-article-image-div-mobile {
  grid-area: imageAreaMobile;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; 
}

.article2-article-image {
  /* grid-area: middleArea !important; */
  border: transparent 1px solid !important;
  border-radius: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* max-width: 2rem !important; */
  /* max-height: 25% !important;
  max-width: 25vw !important; */
}
.article2-article-image-mobile {
  /* grid-area: middleArea !important; */
  border: transparent 1px solid !important;
  border-radius: 1rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* max-width: 2rem !important; */
  /* max-height: 25% !important;
  max-width: 25vw !important; */
}

.article2-article-paragraphs-div-with-image {
  grid-area: bodyAreaWithImage;
  /* background-color: blue; */
  /* padding-left: max(3vw,15px); */
  
}
/* .article2-article-paragraphs-div-with-image-mobile { */
  /* grid-area: bodyAreaWithImage; */
  /* background-color: blue; */
  /* padding-left: 3vw; */
/* } */
.article2-article-paragraphs-div-without-image {
  display: flexbox;
  /* flex: 1; */
  /* background-color: yellow; */
  width: 100%;
}
.article2-article-paragraphs-div-with-image-ar {
  grid-area: bodyAreaWithImage;
  /* background-color: blue; */
  /* padding-right: 3vw; */
  text-align: right;
}
.article2-article-paragraphs-div-without-image-ar {
  display: flexbox;
  /* flex: 1; */
  /* background-color: yellow; */
  width: 100%;
}

.article2-article-bullet-list-heading {
  font-size: min(max(13px, 2vw), 16px) !important;
  /* color: #476282; */
  font-weight: 700 !important;
}
.article2-article-bullet-list-heading-ar {
  font-size: min(max(13px, 2vw), 16px) !important;
  /* color: #476282; */
  font-weight: 700 !important;
  text-align: right;
}

.article2-article-paragraph-div {
  display: flexbox;
  flex: 1;
  justify-content: flex-end;
  /* background-color: red; */
  padding-right: 10vw;
  padding-left: 5vw;
}
.article2-article-paragraph-div-ar {
  display: flexbox;
  flex: 1;
  justify-content: flex-end;
  /* background-color: blue; */
  padding-left: 5vw;
  padding-right: 10vw;
  /* background-color: blue; */
}

.article2-article-paragraph-heading {
  /* background-color: antiquewhite !important; */
  font-size: min(max(13px, 2vw), 16px) !important;
  /* color: #476282; */
  font-weight: 700 !important;
}

.article2-article-paragraph-heading-text-ar {
  text-align: right;
}

.article2-article-body-text {
  /* background-color: pink; */
  font-size: min(max(13px, 2vw), 16px) !important;
  font-family: 'ariel' !important;
  font-weight: 500 !important;
}
.article2-article-body-text-ar {
  /* background-color: pink; */
  text-align: right;
  font-size: min(max(13px, 2vw), 16px) !important;
  font-family: 'ariel' !important;
  font-weight: 500 !important;
}

/* ------------------------ Article3 -------------------- */

.article3-article-body-div-with-image {
  /* background-color: #FFD700; */
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  padding-right: 5vw;
  grid-template-areas: 'bodyAreaWithImage imageArea';
}
.article3-article-body-div-with-image-ar {
  /* background-color: #FFD700; */
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  /* padding-right: 5vw; */
  grid-template-areas: 'bodyAreaWithImage imageArea';
}
.article3-article-body-div-with-image-mobile {
  /* background-color: #FFD700; */
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.75fr;
  grid-template-areas: 'bodyAreaWithImageMobile' 'imageAreaMobile'; */
}
.article3-article-body-div-without-image {
  display: flex;
  flex: 1;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 100% !important;
  /* background-color: violet; */
}
.article3-article-body-div-without-image-mobile {
  /* display: flex;
  flex: 1;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vh; */
  /* width: 100% !important; */
  /* background-color: violet; */
  display: flex;
  flex: 1;
  /* padding-left: 5vw; */
  /* padding-right: 5vw; */
  padding-bottom: 2vh;
  padding-top: 2vh;
  /* padding-left: 5vw; */
  width: 100% !important;
}

.article3-article-image-div {
  grid-area: imageArea;
  justify-content: center;
  align-items: center;
  /* padding-left: 2vw; */
  padding-right: 5vw;
  /* background-color: red; */
}
.article3-article-image-div-mobile {
  /* grid-area: imageAreaMobile; */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; 
  /* background-color: red;
  max-height: 200 !important; */
}

.article3-article-paragraph-div {
  display: flexbox;
  flex: 1;
  justify-content: flex-end;
  /* background-color: red; */
  padding-right: 5vw;
  /* padding-left: 5vw; */
}
.article3-article-paragraph-div-ar {
  display: flexbox;
  flex: 1;
  justify-content: flex-end;
  /* background-color: blue; */
  padding-left: 5vw;
  padding-right: 5vw;
  /* background-color: blue; */
}
.article3-article-paragraph-div-mobile {
  display: flexbox;
  flex: 1;
  justify-content: flex-start;
  /* background-color: red; */
  padding-right: 10vw;
  padding-left: 5vw;
}
.article3-article-paragraph-div-mobile-ar {
  display: flexbox;
  flex: 1;
  justify-content: flex-end;
  /* background-color: blue; */
  padding-left: 5vw;
  padding-right: 10vw;
  /* background-color: blue; */
}

/* ------------------------ Grid Links -------------------- */

.grid-links-section-main-div {
  display: flexbox;
  flex: 1;
  width: 100%;
  /* background-color: yellow; */
  /* padding-top: 3vh; */
}

.gird-links-section-title-div{
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

.grid-links-section-title-text {
  font-size: min(max(13px, 2vw), 30px) !important;
  font-weight: 800 !important;
  /* font-family: 'Fira Sans Condensed'; */
}

.grid-links-main-grid {
  width: 100vw !important;
  padding-left: 5vw;
  padding-right: 5vw;

}
.grid-links-main-grid-ar {
  width: 100vw !important;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex !important;
  /* flex-direction: column !important; */
  /* flex: 1 !important; */
  justify-content: flex-end !important;
  align-items: flex-end !important;
}

.grid-links-child-grid {
  width: 100% !important;
}
.grid-links-child-grid-ar {
  width: 100% !important;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.grid-links-child-grid-paper {
  display: flexbox;
  flex: 1;
  height: 100%;
  justify-content: center !important;
  align-items: center !important;
  padding: 1rem;
}
.grid-links-child-grid-paper-ar {
  display: flexbox;
  flex: 1;
  height: 100%;
  justify-content: flex-end !important;
  align-items: center !important;
  padding: 1rem;
}

.grid-links-list-title-div {
  display: flex;
  flex: 1;
  width: 100% !important;
  /* background-color: #FFD700; */
}
.grid-links-list-title-div-ar {
  display: flex;
  flex: 1;
  width: 100% !important;
  /* background-color: #FFD700; */
  justify-content: flex-end !important;
}
.grid-links-list-title-div-no-items {
  display: flex;
  flex: 1;
  width: 100% !important;
  height: 100% !important;
  justify-content: center;
  align-items: center;
}

.grid-links-list-title-text-ar {
  text-align: right !important;
  /* background-color: #FFD700; */
}

.grid-links-list-title-text-no-items{
  text-align: center;
}

.grid-links-list-items-div {
  display: flex;
  flex: 1;
  width: 100%;
  /* background-color: yellow; */
}

.grid-links-list-component-ar {
  display: flex;
  flex-direction: column;
  flex: 1;
  direction: rtl;
  justify-content: flex-end;
}

/* ------------------------ Link Component -------------------- */

.link-component-main-div {
  display: flex;
  flex: 1;
  width: 100%;
  /* background-color: yellow; */
  /* padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
   */
   padding: 5%;
   justify-content: center;
   align-items: center;
}

.link-component-card-content-main-div {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: 'cardContentImageArea' 'cardContentTextArea';
  height: fit-content;
  min-height: 100px;
  width: 100%;
}

.link-component-card-content-image-area {
  grid-area: cardContentImageArea;
  width: 100%;
  height: fit-content;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.link-component-card-content-text-area {
  grid-area: cardContentTextArea;
  width: 100%;
  height: fit-content;
}

.link-component-card-content-main-div_2 {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: 100%;
  grid-template-areas: 'linkComponentImageArea linkComponentTextArea linkComponentButtonArea';
  height: fit-content;
  min-height: 100px;
  width: 100%;
  /* border-right: solid 1px blue; */
  /* background: red; */
}
.link-component-card-content-main-div_2-ar {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  grid-template-rows: 100%;
  grid-template-areas: 'linkComponentButtonArea linkComponentTextArea linkComponentImageArea';
  height: fit-content;
  min-height: 100px;
  width: 100%;
  /* border-right: solid 1px blue; */
  /* background: red; */
}

.link-component-card-content-image-area_2 {
  grid-area: linkComponentImageArea;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* grid-area: cardContentImageArea;
  display: block;
  flex: 1;
  justify-content: center;
  align-items: center; */
}

.link-component-card-content-text-area_2 {
  grid-area: linkComponentTextArea;
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  /* background-color: violet; */
}
.link-component-card-content-text-area_2-ar {
  grid-area: linkComponentTextArea;
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end !important;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  /* background-color: violet; */
}

.link-component-title-div {
  display: flex;
  flex: 1;
  width: 100%;
  height: min-content;
  /* background-color: tomato; */
  align-items: flex-end;
}
.link-component-title-div-ar {
  display: flex;
  flex: 1;
  width: 100%;
  height: min-content;
  /* background-color: tomato; */
  align-items: flex-end;
  justify-content: flex-end;
}

.link-component-description-div{
  display: flex;
  flex: 1;
  width: 100%;
  height: fit-content;
  /* background-color: yellowgreen; */
}
.link-component-description-div-ar{
  display: flex;
  flex: 1;
  width: 100%;
  height: fit-content;
  justify-content: flex-end;
  /* background-color: yellowgreen; */
}

.link-component-card-content-action-button-area_2 {
  grid-area: linkComponentButtonArea;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  /* padding-bottom: 30%; */
  /* background: coral; */
  padding: 5%;
}
.link-component-card-content-action-button-area_2-ar {
  grid-area: linkComponentButtonArea;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  /* padding-bottom: 30%; */
  /* background: coral; */
  padding: 5%;
}

/* ------------------------ Technical Support page -------------------- */

.technical-support-main-div {
  display: flex;
  flex: 1;
  width: 100%;
  /* height: 100% !important; */
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  /* padding: auto; */
  /* margin-right: auto;
  margin-left: auto; */
  /* background-color: #FFD700; */
}

/* ------------------------ Analysis And Advice Page En -------------------- */

.analysis-and-advice-main-div {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  /* align-items: center; */
  /* background-color: yellow; */
}

/* ------------------------ Office Solutions Page En -------------------- */

/* .office-solutions-main-div { */
  /* background-color: red; */
  /* margin-left: -5vw; */
  /* margin-right: -1.8vw; */
  /* width: 100vw; */
  /* margin-right: -1vw; */
/* } */

/* ------------------------ Home Page En -------------------- */

.home-page-main-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background: red; */
  width: 100%;
  background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
}

.home-page-main-image-div {
  margin-top: min(max(30px, 10vh), 70px) !important;;
  /* display: block; */
  /* box-shadow: 5px 10px #888888; */
  /* box-shadow: 5px 10px #888888; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
